*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header{
    padding: 16px 0;
    font-size: 32px;
    background-color: #ccc;
    border-bottom: 1px solid aqua;
    margin-bottom: 56px;
}

.store{
    margin-bottom: 120px;
}

.noticia img{
    width: 320px;
    max-width: 100%;
}

.store .noticia a {
    display: flex;
    font-size: 1.25em;
}

.store .noticia img{
    width: 320px;
    height: 320px;
    margin-right: 8px;
    border-radius: 6px;
}

section h2{
    margin: 32px;
}

.produtos{
    display: grid;
    grid-template-columns: repeat(4,24%);
    row-gap: 5%;
    max-width: 100%;
    justify-content: space-between;
}

.produtos img{
    width: 320px;
    height: 320px;
}

@media screen and (max-width:767px){
    .container{
        max-width: 90%;
    }

    .store .noticia a {
        display: block;
        font-size: 1em;
    }

    .conteudo.container{
        display:grid;
        grid-template-columns:repeat(1,100%);
    }

    .produtos.container{
        display: block;
    }

    .noticia{
        margin-bottom: 32px;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .container{
        max-width: 90%;
    }

    .store .noticia a {
        display: block;
        font-size: 1em;
    }

    .produtos.container{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    

}